@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Sections.cshtml";
}

@section PageHeader {
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h1>@Umbraco.Field("title")</h1>
                <div>
                    @CurrentPage.GetGridHtml("content", "lgsk-nested-bootstrap")
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                @Html.Partial("Components/Highlights")
            </div>
        </div>
    </div>
</div>
}

<div class="section-links">
    @Html.Partial("Nav/GatewayLinks", Model.Content,
    new ViewDataDictionary()
    {
        { "mainCount", 25 }
    })

</div>

<div class="section-features">
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            @Html.Partial("Components/NewsBlock")
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            @Html.Partial("Components/EventsBlock")
        </div>
    </div>
</div>
