@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    Html.RequiresCss("//fonts.googleapis.com/css?family=Ubuntu:400,500,700|Open+Sans:700,400|Pacifico:400");
    Html.RequiresCss("~/css/layout.css");

    Html.RequiresCss("~/css/" + Umbraco.Field("sectionStyle", recursive: true));
}

@section Metadata {
    <!-- eGov shizzel -->
    <meta name="DC.Subject" content="@Umbraco.Field("metaSubject")" />
    <meta name="DC.Date" content="@Umbraco.Field("updateDate", formatAsDate: true)" />
    <meta name="DC.Creator" content="@Umbraco.Field("metaCreator", recursive: true)" />
    <meta name="DC.Publisher" content="@Umbraco.Field("metaPublisher", recursive: true)" />
    <meta name="DC.Title" content="@Umbraco.Field("title")" />

    @RenderSection("Metadata", false)

    <meta name="robots" content="@Umbraco.Field("metaRobots", recursive: true)" />
}

<header>
    @Html.Partial("Page/CookieNotice")
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" 
                        data-toggle="collapse" data-target="#lgsk-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar-name">menu</span>
                    <div class="icon-bar-holder">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </button>
                <a class="navbar-brand" href="/">@Umbraco.Field("siteName", recursive: true)</a>
            </div>

            <div class="collapse navbar-collapse" id="lgsk-navbar-collapse">
                <form class="navbar-form navbar-right" method="get" action="/search/" role="search">
                    <div class="input-group">
                        <input type="search" placeholder="Search" id="q" name="q" class="form-control" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("Nav/SiteNavigation")
                </ul>
            </div>
        </div>
    </nav>
</header>

@if (IsSectionDefined("Breadcrumb"))
{
    @RenderSection("Breadcrumb", false)
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("Nav/Breadcrumb")
            </div>
        </div>
    </div>
}
   
@RenderSection("PageHeader", false)

@Html.Partial("Components/ServiceAlert")

<div class="container">
    @RenderBody()
</div>

<div class="atoz">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("Nav/AtoZList")
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        @RenderSection("Footer", false)


        <div class="row">
            <div class="col-sm-6">
                @Html.CachedPartial("Nav/FooterLinks", Model, 600)
            </div>
            <div class="col-sm-6">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="site-credit">The Localgov Starterkit is a <a href="http://jumoo.uk"><span class="jumoo">Jumoo</span></a> thingy-me-bob</div>
            </div>
            <div class="col-xs-6">
                <div class="site-credit pull-right">
                    Localgov Starterkit 5, 2015 &raquo; &infin;
                </div>
            </div>
        </div>
    </div>
</footer>