@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@using AngularGoogleMaps


@if (Model.Content.HasValue("location"))
{
    Html.RequiresJs("//www.google.com/jsapi");
    Html.RequiresJs("/scripts/lgsk.googlemaps.js");

    var map = Model.Content.GetPropertyValue<AngularGoogleMaps.Model>("location");

    <div id="map_canvas"
         class="venue-map" style="width:auto;height:400px;"
         data-name="@Model.Content.GetPropertyValue("title")"
         data-zoom="@map.Zoom"
         data-lat="@map.Latitude"
         data-lng="@map.Longitude"
         data-venue-name="@Model.Content.GetPropertyValue("title")"
         data-venue-address="">

    </div>

}
