@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var listRoot = Model.Content.AncestorsOrSelf()
        .Where(x => x.DocumentTypeAlias == "ListingsPage")
        .FirstOrDefault();

    if (listRoot == null)
    { 
        return;
    }
    
    var selection = listRoot.Children()
        .Where(x => x.IsVisible() && !x.HasProperty("isComponent"))
        .OrderBy(x => x.GetPropertyValue<DateTime>("startDate", x.CreateDate));
}

@if( selection.Any() )
{
    <div class="section-nav">
        <h2 class="page-header">
            <a href="@listRoot.Url">
                Latest @listRoot.GetPropertyValue("title", listRoot.Name)
            </a>
        </h2>
        

        <ul class="nav nav-stacked nav-pills">
            @foreach(var item in selection)
            {
                <li @Umbraco.If(Model.Content.Id == item.Id, "class=\"active\"")>
                    <a href="@item.Url">
                        @item.GetPropertyValue("title", item.Name)
                    </a>
                </li>
            }
        </ul>
    </div>
}
