@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    // this page hand rolls a contact form,
    // and uses a basic surface controller to 
    // do some sending of emails
    //
    // you might want to use Umbraco Forms
    //

    @DisplayContactForm("Email", "emailAddress")

    @DisplayContactMethod("Telephone", "telephoneNumber")

    @DisplayContactMethod("Address", "address")

}

@helper DisplayContactMethod(string title, string propertyName)    
{
    if (Model.Content.HasValue(propertyName))
    {
        var displayTitle = Umbraco.GetDictionaryValue("Contact." + title);
        if ( string.IsNullOrEmpty(displayTitle))
        {
            displayTitle = title;
        }
        var detail = Umbraco.ReplaceLineBreaksForHtml(Model.Content.GetPropertyValue<string>(propertyName));       
        
        <div class="contact-item" id="@title">
            <h3 class="page-header">@displayTitle</h3>
            @Html.Raw(detail)
        </div>
    }
}
    

@helper DisplayContactForm(string title, string emailProperty)
{
    var emailAddress = Model.Content.GetPropertyValue<string>(emailProperty);
    // use a controller - to send the email...
    @Html.Partial("Page/ContactForm", new Jumoo.LocalGov.ContactViewModel() {
        ToAddress = emailAddress
        })
}
    