@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteDesign.cshtml";
}

<div class="row">
    <div class="col-sm-8">
        <div id="page-content" class="content-body">
            @RenderBody()
        </div>
    </div>
    <div class="col-sm-4">

        @if (!IsSectionDefined("FullSideNav"))
        { 
            @Html.Partial("Nav/SectionNav")

            @Html.Partial("Page/RelatedLinks")

            @Html.Partial("Page/ContactList")

            @RenderSection("SideNav", false)
        }
        else
        {
            @RenderSection("FullSideNav", false)
        }


    </div>
</div>

